<configuration>
<!--    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />-->
    <property name="CONSOLE_LOG_PATTERN" value="%d %highlight(%-5level) %magenta(${PID:- }) --- [%15.15t] %cyan(%-40.40logger{39}) : %msg%n" />
    <property name="CONSOLE_LOG_CHARSET" value="utf-8" />
    <property name="FILE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread]  [%-5level] %logger{36} - %msg%n" />
    <property name="FILE_LOG_MAX_HISTORY" value="7" />
    <springProperty name="FILE_NAME" source="logging.file.name"/>
    <springProperty name="FILE_PATH" source="logging.file.path" />

    <springProfile name="console-logging">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>${CONSOLE_LOG_CHARSET}</charset>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="file-logging">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${FILE_PATH}/${FILE_NAME}%d{yyyyMMdd}.log</FileNamePattern>
                <maxHistory>${FILE_LOG_MAX_HISTORY}</maxHistory>
            </rollingPolicy>
        </appender>
    </springProfile>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.mybatis" level="INFO" />
    <logger name="org.apache" level="INFO" />
    <logger name="org.apache.http" level="DEBUG" />
    <logger name="org.hibernate.SQL" level="INFO" />
    <logger name="org.hibernate.type.descriptor.sql" level="INFO" />
    <logger name="org.flywaydb" level="DEBUG" />
    <logger name="org.quartz" level="WARN" />
    <logger name="org.springframework.boot.autoconfigure" level="DEBUG" />

    <root level="INFO">
        <springProfile name="console-logging">
            <appender-ref ref="CONSOLE"/>
        </springProfile>

        <springProfile name="file-logging">
            <appender-ref ref="FILE" />
        </springProfile>
    </root>
</configuration>